.partners {
    position: relative;
    width: 100%;
    height: 307px;
    background: url('../../images/bg-socials.jpg') 0px 0px fixed;

    .opacity {
        position: absolute;
        width: 100%;
        height: 307px;
        background: rgba(0, 0, 0, 0.2);
    }

    .content {
        position: absolute;
        max-width: 900px;
        height: 190px;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    h2 {
        color: white;
        font-size: 32px;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
    }

    .logo {
        position: relative;
        max-width: 900px;
        overflow: hidden;
        margin-top: 50px;
        text-align: center;
        padding: 10px;
        display: flex;
        justify-content: center;

        a {
            width: 70px;
            border: solid 1px #999;
            border-radius: 50%;
            font-size: 40px;
            text-decoration: none;
            margin: 10px;
            transition: 0.5s;
            svg{
                text-align: center;
                color: #eee;
            }
            &:hover {
                background-color: #2fa68e;
            }
        }

    }
}